@use '@styles/' as *;

.container {
  @include flexbox(column, center, center);
}

.form {
  @include flexbox(column);
  width: 50vw;
  min-width: rem(300px);
  gap: rem(30px);
  position: relative;
}
