@use '@styles/' as *;

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 30px;
  padding: 1em;
  color: $white;
  max-height: 2.5em;
  text-transform: uppercase;
}

.dairyFree,
.lactoOvo,
.lactoOvoVegetarian {
  background-color: $badge_purple;
}

.lactoOvo > svg {
  font-size: 20px;
}

.vegetarian,
.vegan {
  background-color: $badge_green;
}

.glutenFree,
.popular,
.paleolithic,
.paleo,
.primal {
  background-color: $badge_pink;
}

.healthy,
.pescatarian {
  background-color: $badge_navy;
}

.small {
  font-size: 14px;
}

.large {
  font-size: 16px;
}
