@use './../../styles/utils/' as *;

.button {
  padding: 10px;
  border: none;
}

.text {
  background: none;
}

.default.white {
  color: $white;
}

.default.orange {
  color: $primary_orange;
}

.outlined {
  border: 1px solid currentColor;
  background: none;
}

.outlined.orange {
  color: $primary_orange;
}

.outlined.green {
  color: $primary_green;
}

.outlined.white {
  color: $white;
}

.filled.orange {
  background-color: $primary_orange;
  color: $white;
}

.filled.green {
  background-color: $primary_green;
  color: $white;
}

.filled.white {
  background-color: $white;
  color: $black;
}

.round {
  border-radius: 30px;
}
