@use '@styles' as *;

.detail {
  @include desktop {
    display: flex;
    gap: 3%;
    flex-direction: row;
  }
  color: $white;
  padding: 130px 120px 100px;
}

.recipeBrief {
  @include desktop {
    padding: rem(20px);
    width: 100%;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
}

.recipeAccordion {
  @include desktop {
    padding: rem(20px);
    width: 100%;
  }
}

.foodImageContainer {
  margin: 15px 0;
  position: relative;
}

.foodImage {
  width: 100%;
  max-width: 600px;
  border: 7px $white solid;
}

.creditsText {
  color: $white;
  font-size: 10px;
}

.saveButton {
  position: absolute;
  right: 30px;
  bottom: 30px;
  &:hover svg {
    color: $heart_pink;
    filter: drop-shadow();
  }
}
