@use '@styles' as *;

.detail {
  @include desktop {
    display: flex;
    gap: 3%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  color: $white;
  padding: 50px 50px 50px;
}

.heading {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.recipeBrief {
  @include desktop {
    width: 45%;
  }
}

.recipeAccordion {
  @include desktop {
    padding: rem(20px);
  }
}

.saveButton {
  position: absolute;
  right: 30px;
  bottom: 30px;
  &:hover svg {
    color: $heart_pink;
    filter: drop-shadow();
  }
}

.foodImageContainer {
  margin: rem(20px) 0 rem(40px);
  position: relative;
}

.foodImage {
  width: 100%;
  height: 75vh;
  object-fit: cover;
  max-width: 600px;
  border: 7px $white solid;
}

.creditsText {
  color: $white;
  font-size: 10px;
  float: right;
}

.badgeList {
  display: flex;
  flex-direction: row;
  gap: rem(10px);
  flex-wrap: wrap;
}
