@use '@styles/utils' as *;

.list {
  @include flexbox(row, space-around, flex-start, wrap);
}

.item {
  text-align: center;
  width: rem(240px);

  @media (max-width: 1056px) {
    width: 50%;
  }

  @include mobile {
    width: 100%;
  }
}
