@use '@styles/' as *;

.logo {
  display: flex;
  font-size: rem(24px);
  align-items: center;

  svg {
    margin: 10px;
  }

  h1 {
    width: 130px;
    transition: 400ms all ease;

    @include mobile {
      width: 0;
      overflow: hidden;
    }
  }
}
