@use '@styles/' as *;

// type
.wide {
  width: 100%;
  height: 50vw;
  object-fit: cover;

  @include desktop {
    width: 100%;
    height: 250px;
  }
}

.square {
  width: 100%;

  @include mobile {
    height: 50vw;
  }
  @include desktop {
    height: rem(200px);
    // 2행
    @media (max-width: 1547px) {
      height: 20vw;
    }

    @media (max-width: 1100px) {
      height: 25vw;
    }
  }
  object-fit: cover;
}

.smallSquare {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  @include mobile {
    aspect-ratio: 16 / 9;
  }

  @media (max-width: 1056px) {
    aspect-ratio: 16 / 9;
  }
}

.cardButton {
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  @include mobile {
    width: 100%;
  }
}

.cardWrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: rem(16px);
  position: relative;
  cursor: pointer;
}

.inlineBlock {
  text-align: center;
  width: 100%;
  @include desktop {
    display: inline-block;
  }
}

.white {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.none {
  background: none;
}

.title {
  font-size: rem(18px);
  font-weight: bold;
  padding-top: rem(16px);
  width: 100%;
}

// hasSummary
.summary {
  line-height: rem(24px);
  @include desktop {
    display: -webkit-box;
    word-wrap: break-word;
    // -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @include mobile {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

// headingPosition
.bottom {
  font-size: rem(20px);
  &Left {
    left: 0;
  }
  &Center {
    text-align: center;
  }
}

.topLeft {
  font-size: rem(24px);
  color: orange;
  order: -1;
}

.more {
  @include mobile {
    display: none;
  }
  border: 1px solid linear-gradient(to right, gray, $primary_green);
  background: linear-gradient(to right, #d4fc79, #96e6a1);
  padding: rem(8px) 0;
  text-align: center;
  font-size: rem(24px);
  z-index: 1;
  margin: 0;
}
