@use '@styles/' as *;

// type
.wide {
  width: 100%;
  height: 50vw;
  object-fit: cover;

  @include desktop {
    // width: 312px;
    // height: 250px;
    width: 100%;
    height: 250px;
  }
}

.square {
  width: 100%;

  @include mobile {
    height: 50vw;
  }
  @include desktop {
    width: rem(260px);
    height: rem(260px);
    // 2행
    @media (max-width: 1547px) {
      width: 100%;
      height: 20vw;
    }

    // 1행
    @media (max-width: 1172px) {
      // width: 100%;
      // width: 40vw;
      height: 25vw;
    }
  }
  object-fit: cover;
}

.cardButton {
  width: 100%;
  border: none;
  background-color: transparent;
  text-align: left;
  @include mobile {
    width: 100%;
  }
}

// background
.cardWrap {
  display: flex;
  flex-direction: column;
  padding: rem(16px);
  position: relative;
  cursor: pointer;
}

.inlineBlock {
  text-align: center;
  width: 100%;
  @include desktop {
    display: inline-block;
  }
}

.white {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.none {
  background: none;
}

.title {
  font-size: rem(18px);
  font-weight: bold;
  padding-top: rem(16px);
  width: 100%;
}

// hasSummary
.summary {
  display: block;
  line-height: rem(24px);
  @include mobile {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

// headingPosition
.bottom {
  font-size: rem(20px);
  &Left {
    left: 0;
  }
  &Center {
    text-align: center;
  }
}

.topLeft {
  font-size: rem(24px);
  color: orange;
  order: -1;
}
