$primary_green: #83A961;
$primary_orange: #EC7B30;
$badge_pink: #D51754;
$badge_purple: #910087;
$badge_green: #349A2C;
$badge_navy: #4B5AAB;
$heart_pink: #FF9D9D;

$black: #000000;
$white: #FFFFFF;
$background_gray: #FAFAFA;
$gray--100: #D8D8D8;
$gray--200: #B0B0B0;
$gray--300: #898989;
$gray--400: #616161;
$gray--500: #3A3A3A;
$gray--600: #2E2E2E;
$gray--700: #232323;
$gray--800: #171717;
$gray--900: #0C0C0C;