$primary_green: #529715;
$primary_orange: #e56a18;
$badge_pink: #d51754;
$badge_purple: #910087;
$badge_green: #349a2c;
$badge_navy: #4b5aab;
$heart_pink: #ff9d9d;

$black: #000000;
$white: #ffffff;

$background_gray: #fafafa;
$search_gray: #ebebeb;
$menu_bg: #252525;

$gray--100: #d8d8d8;
$gray--200: #b0b0b0;
$gray--300: #898989;
$gray--400: #616161;
$gray--500: #3a3a3a;
$gray--600: #2e2e2e;
$gray--700: #232323;
$gray--800: #171717;
$gray--900: #0c0c0c;
