@use '@styles/' as *;

.container {
  background-color: transparent;
  padding: rem(16px);
  margin: 0 auto;
  .searchResultsList {
    @include flexbox(row, space-between, flex-start, wrap);
  }
  @media (max-width: 1480px) {
    max-width: 1200px;
    width: calc(100% - 2rem);
  }
  @media (max-width: 1056px) {
    width: calc(100% - 2rem);
  }
}

.noResults {
  padding-top: 20vh;
  p {
    text-align: center;
  }
}

.control {
  @include flexbox(row, center, center);
  gap: rem(20px) 4;
  button {
    border: none;
    background: transparent;
    color: $primary_orange;
  }
  .pageNumberList {
    @include flexbox(row, center, center);

    .pageButton {
      border: 1px solid $primary_orange;
      border-radius: rem(5px);
      background: $white;
      width: rem(32px);
      height: rem(32px);
      margin: rem(6px);
      @include flexbox(row, center, center);
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.heading {
  text-align: center;
}
.pageList {
  @include flexbox();

  .current {
    .pageButton {
      color: $white;
      background-color: $primary_orange;
    }
  }
}

.item {
  text-align: center;
  width: rem(240px);

  @media (max-width: 1056px) {
    width: 50%;
  }

  @include mobile {
    width: 100%;
  }
}
