@use '@styles' as *;

.container {
  z-index: 200;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  @include desktop {
    overflow: hidden;
  }
  @include mobile {
    overflow: auto;
  }
}

.content {
  z-index: 200;
  color: #121212;
  background: rgba(36, 36, 36, 0.8);
  backdrop-filter: blur(3px);
}

.closeButton {
  cursor: pointer;
  position: absolute;
  z-index: 200;
  top: 20px;
  right: 20px;
  border: 0;
  padding: 10px;
  background: transparent;
  color: #fefefe;
}

.closeButton svg {
  pointer-events: none;
  fill: currentColor;
}

.dim {
  // position: absolute;
  // z-index: 100;
  // top: 0;
  // left: 0;
  // width: 100vw;
  // height: 100vh;
  // background: rgba(36, 36, 36, 0.8);
  // backdrop-filter: blur(2px);
}
