@use '@styles/' as *;

.section {
  @include desktop {
    flex-grow: 2;
    padding: rem(20px);
  }
}

.contentHeader {
  font-size: rem(32px);
  color: $primary_orange;
  font-weight: bold;
  padding: rem(16px);
}

.cardItems {
  display: flex;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.item {
  @media (max-width: 1547px) {
    width: 50%;
    text-align: center;
  }

  @media (max-width: 1100px) {
    width: 100%;
    text-align: center;
  }
}
