@use '@styles/' as *;

.section {
  @include desktop {
    flex-grow: 2;
    padding-top: rem(20px);
    height: 90vh;
    overflow: auto;
  }
}

.contentHeader {
  font-size: rem(32px);
  color: $primary_orange;
  font-weight: bold;
  padding: rem(16px);
}

.cardItems {
  display: flex;
  flex-direction: column;
  @include mobile {
    margin: 0;
  }
  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.item {
  text-align: center;
  width: rem(290px);

  @media (max-width: 1547px) {
    width: 50%;
    text-align: center;
  }

  @media (max-width: 1100px) {
    width: 100%;
    text-align: center;
  }
}

.hotRecipes {
  padding-left: rem(16px);
  @include mobile {
    margin-top: rem(40px);
  }

  @media (min-width: 1546px) {
    padding-left: rem(28px);
  }
}
