@use '@styles/utils' as *;

.accordion {
  color: $white;
}

.recipeInfoItem {
  margin-bottom: 60px !important; // cascading 문제 있는 것으로 보임.
}

summary {
  list-style: none;
}

.collapseHeading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $white;
}

.heading {
  display: inline-block;
  font-size: 36px;
}
