@use '@styles/utils' as *;

.Accordion {
  @include desktop {
    width: 45%;
    height: 70vh;
    overflow: scroll;
  }
  display: block;
  color: $white;
  margin: 0;
  padding-right: 1.5rem;
}

.recipeInfoItem {
  margin-bottom: 60px !important; // cascading 문제 있는 것으로 보임.
}

summary {
  list-style: none;
  cursor: pointer;
  padding: rem(3px);
}

.collapseHeading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $white;
  align-content: center;
  svg {
    color: $white;
    width: 2em;
    height: 2em;
    transition: 0.3s;
    margin: auto 0;
  }
}

details[open] {
  svg {
    transform: rotate(-180deg);
  }
}

.heading {
  display: inline-block;
  font-size: rem(36px);
}

.collapseContent {
  font-size: rem(18px);
  color: $gray_200;
  padding: 0.5rem 0;
  line-height: 1.5;
}

p.collapseContent {
  margin: 0;
}

ol.collapseContent {
  list-style: decimal-leading-zero;
  padding-left: 1.8em;
}

.ingredient {
  display: flex;
  justify-content: space-between;
}

.accordionText {
  margin-top: 0;
}

summary::-webkit-details-marker {
  display: none;
}
