@use '@styles/' as *;

.memberDialog {
  width: 40vw;
  min-width: rem(300px);
  padding: 15vh 0 0 0;
  margin: 0 auto;
  // text-align: center;
}
.heading {
  font-size: rem(30px);
  text-align: center;
}

.authError {
  display: none;
  color: $white;
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: rem(5px);
  padding: rem(16px) 0;
  margin: rem(18px) auto;
  width: 40vw;
  min-width: rem(280px);
  text-align: center;
  &.show {
    display: block;
  }
  @media (max-width: 500px) {
    padding: rem(12px) rem(72px);
  }
}

.form {
  margin: rem(18px) auto;
  width: 40vw;
  min-width: rem(280px);

  @include flexbox(column);
  input,
  button {
    padding: 0 rem(24px);
    height: rem(36px);
    border: none;
    border-radius: rem(18px) rem(18px);
  }

  .invalid {
    border: 3px solid $primary_orange;
    box-shadow: 0 0 1px 0 $primary_orange; 
  }

  button {
    line-height: rem(36px);
    &:not(:disabled){
      &:focus, &:hover {
        background-color: darken($primary_green, 10%);
      }
    }
    &:disabled {
      background-color: $gray_300;
      cursor: not-allowed;
    }
  }

  .fieldError {
    height: rem(32px);
    line-height: 1.8;
    font-size: rem(16p);
    color: $primary_orange;
    padding: 0 rem(20px);
  }
}

.toggle {
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  color: $white;
  text-align: center;
  margin: rem(16px) 0;
  &:hover {
    color: $primary_orange;
  }
  @media (max-width: 500px) {
    padding: rem(12px) rem(72px);
  }
}
